<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Технопласт сервис</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="tablet-form">
            <h1 class="header-title">Temporal Site Mug</h1>
            <p class="header-subtitle">Some Text That Can Be Useful Once</p>
        </div>
    </div>

</body>
</html>
