<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Технопласт сервис</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&display=swap" rel="stylesheet">
</head>
<body>

    <div class="header">
        <h3 class="header-title-1">Нужны Деньги?</h3>
    </div>

    <div class="selling">
        <h1 class="header-title-2">Мы Покупаем!</h1>
        <p class="header-subtitle">б\у полипропиленовые<br>биг-бэги и ящики</p>

    </div>
    <div class="product-pics"></div>
    <div class="sell-button"></div>
    <div class="footer">

    </div>

</body>
</html>
