{% extends 'landingby/layout.html' %}

{% block title %}Оформление заказа на Продажу{% endblock %}

{% block content %}
<form action="{% url 'feedback' %}" method="post">
    {% csrf_token %}
    <p class="form"> Ф.И.О.:<br> {{ form_for_feedback.supplier_name }}</p>
    <p class="form"> Телефон (+38):<br> {{ form_for_feedback.supplier_mobile }}</p>
    <p class="form"> Адрес электронной почты:<br> {{ form_for_feedback.supplier_email }}</p>

    <span class="error-msg">{{ error }}</span>
</form>

    <div class="sell-container">
        <a href="{% url 'complete' %}" class="sell-button" type="submit">Далее</a>
    </div>

{% endblock %}
