{% load static %}

<!--<!DOCTYPE html>-->
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Технопласт сервис</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/landingby/main.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&display=swap" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}"></script>
</head>

<body>
    <div class="wrapper">
        <div class="main">
            <div class="header">
                <h3 class="header-title-1">Нужны Деньги?</h3>
            </div>
            <div class="forms-area">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div class="footer">
            <div class="contacts">ТОВ "Технопласт Сервiс"<br>Україна, м. Суми, вул. Iвана Сiрка 43<br>тел. 050-999-99-99</div>
        </div>
    </div>
</body>

</html>
